Django==1.11
PyNaCl==1.2.1
asn1crypto==0.23.0
bcrypt==3.1.4
bsdiff4==1.1.4
bumpversion==0.5.3
cffi==1.11.2
cryptography==2.1.4
future==0.16.0
idna==2.6
paramiko==2.4.0
pluggy==0.6.0
py==1.5.2
pyasn1==0.4.2
pycparser==2.18
pytz==2017.3
six==1.11.0
tox==2.9.1
virtualenv==15.1.0
